.title {
  text-align: center;
}


.content {
  text-align: center;
  margin: 0 auto 0 auto;
  width: 90%;
  padding-top: 5%;
  height: 150vh;
}

.nav {
  list-style-type: none;
  text-align: center;
}

.nav li {
  background-color: lightblue;
  margin-right: 5px;
  display: inline;
  border: 1px solid black;
  padding: 4px;
}

.nav a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.astroList {
  font-weight: bold;
}

.marsPhoto {
  height: auto;
  width: 30%;
  margin: 10px;
}

.date {
  margin-left: 10px;
  margin-bottom: 5px;
}
